* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: navy;
    color: white;
    padding: 30px;
    text-align: center;
}

.produkty {
    width: 100%;
    padding: 20px;
}

.produkt {
    float: left;
    width: 30%;
    margin: 1.5%;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.clearfix {
    clear: both;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}