body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.columns-box {
  border: 3px dotted #999;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

/* Lewa kolumna */
.lewy {
  float: left;
  width: 49%;
  background-color: lightblue;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 8px;
}

/* Prawa kolumna */
.prawy {
  float: right;
  width: 49%;
  background-color: lightgreen;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 8px;
}

footer {
  clear: both;
  background-color: #ddd;
  padding: 10px;
  text-align: center;
  margin-top: 16px;
}

.columns-box .lewy p,
.columns-box .prawy p {
  margin-top: -15px;
}