body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #eaeaea;
}

header {
    background-color: #333;
    color: white;
    padding: 25px;
    text-align: center;
}

nav {
    background-color: #666;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 5px 15px;
    min-height: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    float: left;
    width: 70%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    min-height: 500px;
}

aside {
    float: right;
    width: 28%;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    min-height: 500px;
}

footer {
    clear: both;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

.wpis {
  float: left;
  width: 48%;
  margin: 1%;
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

.clearfix {
    clear: both;
}
