*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  background:#369;
  color:white;
  padding:15px;
  text-align:center;
}

main{
  background: yellow; /* tło żółte */
  padding: 20px; /* padding 20px */
  font-size: 18px; /* czcionka 18px */
}

footer{
  background:#333;
  color:#fff;
  padding:10px;
  text-align:center;
}